input{
    width: 40%;
    border: 3px black;
    border-radius: 10px;
}
label{
    font-family:"Tahoma","sans-serif";
}
div{
    width: 100px;
    height: 100px;
    background-color: red;
    transition: width 2s, height 2s;
    transition-timing-function: ease-in-out;
}
div:hover{
    width : 200px;
    height: 200px;
}